<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>Welcom to CoverFox movie-actor management app.</p>
<h4>Models</h4>
<p>App have three models named User, Movie, Actor</p>
<h4>Model Relationships</h4>
<ul>
<li>User has many movies and Movie belongs to User</li>
<li>Movie has many and belongs to many Actors</li>
</ul>
<h4>Note</h4>
<p>Please fill all options while creating a record otherwise there could be some erros :-)</p>


